name: SPA Test Report

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

permissions:
  contents: read
  actions: read
  checks: write
  pull-requests: write

jobs:
  report:
    if: github.event.workflow_run.conclusion == 'success' && github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repo
        uses: actions/checkout@v6

      - name: Download SPA Test Results
        uses: actions/download-artifact@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
          name: spa-test-results

      - name: SPA Test Results
        uses: dorny/test-reporter@bdab7eb6dfb6be17ac3d72352f67e559a72c8db1  # v2
        with:
          name: SPA Unit Tests
          report-title: SPA Unit Tests
          badge-title: SPA Unit Tests
          path: "src/hackathon-spa/test-results/*.xml"
          reporter: jest-junit

      - name: Report SPA Coverage
        uses: davelosert/vitest-coverage-report-action@15b5b41bb7d36796d89f4bf482b09529c53f3446  # v2
        with:
          name: "SPA Coverage"
          vite-config-path: src/hackathon-spa/vite.config.ts
          json-summary-path: src/hackathon-spa/coverage/coverage-summary.json
          json-final-path: src/hackathon-spa/coverage/coverage-final.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pr-number: ${{ github.event.workflow_run.pull_requests[0].number }}
